body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #b57794, #ab083e);
    color: white;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    margin: 0;
}

.navbar a {
    color: #eee;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.history-box {
    max-width: 90%;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.05);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

th {
    text-align: left;
    background: rgba(255, 255, 255, 0.1);
}
